body{
    height: 100vh;
    background-color: rgb(177, 204, 145);
}

.time{
    
    text-align: center;
    padding-top: 183px;
    font-size: 116px;
}
.value{
    
    display: flex;
    justify-content: center;
    padding-top: 47px;
    
}
.pro1{
   
    margin: -40px 65px;
    font-size: 30px;

}
.pro2{
    margin: -40px -16px;
    font-size: 30px;

}
.pro3{
    margin: -40px 49px;
    font-size: 30px;

}
.but{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-left: -14px;
    

}
button{
    margin:0px 35px ;
    font-size: x-large;
    background-color: rgba(93, 134, 16, 0.466);
    
    
}
.sub{
    text-align: center;
}
button:hover{
    background-color: rgba(13, 87, 129, 0.61);
}
.dd{
    display: flex;
    justify-content: center;
    padding-top: 20px;

    

}
#laps{
    list-style-type: none;
    border: 2px solid rgb(105, 187, 160);
    background-color: rgb(105, 187, 160);
    padding: 5px;
    font-size: 20px;
}
button:checked{
    background-color: rgba(13, 87, 129, 0.61);
}